[submodule "stm32-hal"]
	path = stm32-hal
	url = ../x1_wallet_hal_stm32
[submodule "cypherock-common"]
	path = common/cypherock-common
	url = ../cypherock-common
[submodule "nanopb"]
	path = vendor/nanopb
	url = ../nanopb
[submodule "tinybn"]
	path = vendor/tinybn
	url = ../tiny-bignum-c
[submodule "vendor/cypherock-bignum"]
	path = vendor/cypherock-bignum
	url = https://github.com/ayush-1510/starknet-functions.git
