build
bin/
Debug
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
!/.vscode/c_cpp_properties.json
!/.vscode/launch.json
!/.vscode/tasks.json
cmake-build-*
.idea
*.ioc
*.bak
*.launch
html
.DS_Store
private_key*.?
*.pb.*
generated
.venv
venv
