build
bin/
Debug
/.vscode/*
!/.vscode/settings.json
!/.vscode/c_cpp_properties.json
!/.vscode/launch.json
!/.vscode/tasks.json
cmake-build-debug*
cmake-build-release*
cmake-build-dev*
.idea
*.ioc
*.bak
*.launch
html
.DS_Store
private_key*.?